*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
h1{
    font-size:2rem;
    text-align:center;
}
.h2nav{
    font-size:1rem;
    color:#444444;
}
h2{
    font-size:1rem;
    color:#000000;
}
h3{
    font-size:0.85rem;
}
p{
    font-size:0.8rem;
    color:#000000;
}
body{
    background-color:#F5F5F5;
}
.top_logo{
    width:100%;
    height:10%;
    padding-left:1%;
    background-color:#222e5f;
    text-align:center;
    position:fixed;
    z-index:3;
}
.logo{
    width:90%;
    height:90%;
    z-index:3;
}
.navbar{
    width:100%;
    height:4%;
    padding:2% 10%;
    background-color:#ffffff;
    text-align:center;
    position:fixed;
    top:10%;
    z-index:1;
}
.navbut{
    clear:both;
    padding:0.1%;
    display:inline-block;
}
.navbut:hover{
    text-decoration:underline;
    text-decoration-color:#444444;
}
.bodydiv{
    margin-left:3%;
    margin-right:3%;
    position:relative;
    top:17%;
}
table{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-top:25%;
    border-top:0.01rem solid #000000;
    border-collapse:collapse;
    text-align:center;
    position:relative;
}
.schedule{
    text-align:left;
}
tr{
    border-bottom:0.01rem solid #000000;
    text-align:left;
}
th{
    width:25%;
    background-color:#92a2da;
    text-align:center;
}
td{
    width:25%;
    text-align:center;
}
@media only screen and (min-width:390){
    h1{
        font-size:2rem;
    }
    .h2nav{
        font-size:1.5rem;
    }
    h2{
        font-size:1.5rem;
    }
    h3{
        font-size:1.35rem;
    }
    p{
        font-size:1.25rem;
    }
    .top_logo{
        width:100%;
        height:10%;
        padding-left:1%;
    }
    .logo{
        width:90%;
        height:90%;
    }
    .navbar{
        width:100%;
        height:6%;
        padding:2% 10%;
    }
    .navbut{
        padding:2.5%;
        padding-top:0;
    }
    .bodydiv{
        margin-top:17%;
    }
    table{
        width:30%;
        margin-top:25%;
    }
}
/* @media only screen and (min-width:768px){
    h1{}
    h2{}
    .top_logo{}
    .logo{}
    .top_logo_slant{}
    .navbar{}
    .navbut{}
    .title{}
} */
@media only screen and (min-width:1000px){
    h1{
        font-size:3rem;
    }
    .h2nav{
        font-size:2rem;
    }
    h2{
        font-size:2rem;
    }
    h3{
        font-size:1.25rem;
    }
    p{
        font-size:1rem;
    }
    .top_logo{
        width:30%;
        height:17%;
        padding-left:1%;
    }
    .logo{
        width:90%;
        height:90%;
    }
    .top_logo_slant{
        width:6%;
        height:17%;
        margin-left:26%;
        background-color:#222e5f;
        text-align:center;
        position:fixed;
        transform:skew(-15deg);
        z-index:2;
    }
    .navbar{
        width:100%;
        height:13%;
        padding:0;
        padding-left:35%;
        top:0;
    }
    .navbut{
        padding:2.5%;
        padding-top:3%;
    }
    .bodydiv{
        top:17%;
    }
    table{
        width:50%;
        margin-top:8%;
    }
}